{{- partial "header.html" . }}
<span id="sidebar-toggle-span">
<a href="#" id="sidebar-toggle" data-sidebar-toggle=""></a>
</span>

{{- partial "search-form.html" .}}

{{if .Site.Home.Content }}
{{.Site.Home.Content}}
{{else}}
    {{if eq .Site.Language.Lang "es"}}
    <h1>Mi Primer Sitio</h1>
    <p>Esto es la primera practica de dwes</p>
    <ul>
        <li><b>1. </b> <b>Inicio</b></li>
        <li><b>2. </b> <b>Presentación</b></li>
        <li><b>3. </b> <b>DWES01</b> </li>
        <li><b>4. </b> <b>Contacto</b> </li>
    </ul>
    {{else if eq .Site.Language.Lang "en"}}
    <h1>Mi Site</h1>
    <p>
        This is the first practice of dwes </p>
    <ul>
        <li><b>1. </b> <b>Home</b></li>
        <li><b>2. </b> <b>Presentation</b></li>
        <li><b>3. </b> <b>DWES01</b> </li>
        <li><b>4. </b> <b>Contact</b> </li>
    
{{ end }}  
{{ end }}
{{- partial "footer.html" . }}
